body {
  font-family: "Poppins", sans-serif;
  margin: 0 px;
}
.sec-display {
  display: flex;
}
.div-width {
  width: 50%;
}
.div-width img {
  width: 140%;
  height: 130%;
}
.sai {
  width: 50%;
}
.sai img {
  width: 300px;
  height: 380px;
  border-radius: 20px;
}
.word-color {
  color: crimson;
}
#name {
  color: darkgreen;
}
.padd {
  padding-left: 45px;
}
.button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  color: white;
  border: 3px solid skyblue;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.padd1 {
  padding-left: 100px;
}
.padd2 {
  padding-left: 500px;
  padding-right: 160px;
}
.sec-pad {
  padding-bottom: 170px;
}
.mid-banner {
  background-image: url(mid-banner1.png);
  background-repeat: no-repeat;
}
